.about-us {
    padding: 180px 0 50px;
    background: #fff;
}

.about-us .section-header {
    text-align: center;
    width: 80%;
    margin: 0 auto 70px;
}

.about-us .section-header h1 {
    color: #252525;
    font-size: 42px;
    line-height: 42px;
    margin: 0 0 30px;
}

.about-us .section-header p {
    color: #252525;
    font-size: 18px;
    line-height: 30px;
    display: inline-block;
    margin: 0 0 20px;
}

.about-us .section-content {
    width: 80%;
    margin: 0 auto
}

.about-us .section-content h2 {
    color: #252525;
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 70px;
    text-align: center
}

.about-us .roadmap-mobile {
    display: none
}

.about-us .roadmap-item .item-date {
    font-size: 15px;
    color: #252525;
    padding: 10px 15px;
    border: 1px solid #82df76;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 5px;
    display: inline-block;
    margin: 0 0 20px
}

.about-us .roadmap-item h3 {
    font-size: 26px;
    line-height: 26px;
    color: #252525;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 0 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-us .roadmap-item p {
    font-size: 15px;
    line-height: 22px;
    color: #6b6b6b;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    hyphens: none
}

.about-us .roadmap-left {
    padding: 0 50px 0 15px
}

.about-us .roadmap-right {
    padding: 0 15px 0 50px
}


.about-us .roadmap-right .roadmap-item-wrapper,
.about-us .roadmap-left .roadmap-item-wrapper {
    padding: 0 0 70px;
    position: relative;

}

.about-us .roadmap-right .roadmap-item-wrapper:last-child,
.about-us .roadmap-left .roadmap-item-wrapper:last-child {
    padding: 0;
}

.about-us .roadmap-left .roadmap-item-wrapper:before {
    display: block;
    content: "";
    width: 6px;
    background: #82df76;
    position: absolute;
    right: -53px;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.about-us .roadmap-right .roadmap-item-wrapper:before {
    display: block;
    content: "";
    width: 6px;
    background: #82df76;
    position: absolute;
    left: -53px;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.about-us .roadmap-left .roadmap-item-wrapper.roadmap-end:before,
.about-us .roadmap-right .roadmap-item-wrapper.roadmap-end:before {
    background: #e5e5e5;
    z-index: 3;
}


.about-us .roadmap-left .roadmap-item-wrapper:last-child::before,
.about-us .roadmap-right .roadmap-item-wrapper:last-child::before {
    display: none
}

.about-us .roadmap-left .roadmap-item {
    padding: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    text-align: right;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about-us .roadmap-left .roadmap-item:before {
    content: "";
    display: block;
    background: #82df76;
    width: 30px;
    height: 3px;
    position: absolute;
    top: -1px;
    right: -46px;
    z-index: 99999
}

.about-us .roadmap-left .roadmap-item:after {
    content: "";
    display: block;
    background: #82df76;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #fff;
    position: absolute;
    top: -10px;
    right: -61px;
    z-index: 99999
}

.about-us .roadmap-right .roadmap-item {
    padding: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: left;
    position: relative
}

.about-us .roadmap-mobile .roadmap-item {
    padding: 30px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    text-align: center;
    position: relative;
}


.about-us .roadmap-right .roadmap-item:before {
    content: "";
    display: block;
    background: #82df76;
    width: 30px;
    height: 3px;
    position: absolute;
    top: -1px;
    left: -46px;
    z-index: 999;
}

.about-us .roadmap-right .roadmap-item:after {
    content: "";
    display: block;
    background: #82df76;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #fff;
    position: absolute;
    top: -10px;
    left: -61px;
    z-index: 999;
}

.about-us .roadmap-right .roadmap-item-wrapper:first-child {
    margin: 150px 0 0;
}

.about-us .roadmap-left .roadmap-item-wrapper:last-child .roadmap-item:after,
.about-us .roadmap-left .roadmap-item-wrapper:last-child .roadmap-item:before,
.about-us .roadmap-right .roadmap-item-wrapper:last-child .roadmap-item:after,
.about-us .roadmap-right .roadmap-item-wrapper:last-child .roadmap-item:before {
    background: #e5e5e5
}